<div class="body_container_home unbody_container">



  <div class="banner-about">
    <div class="container">
      <div class="row about-comment">
        <div class="title-2 title-white">About Creative@Work</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Sed vel ante est. Ut eget risus tortor. Donec laoreet accumsan erat eget ullamcorper.</p>
        <p>Nulla ligula turpis, faucibus id consequat vel.</p>
      </div>
    </div>
  </div> <!-- end of banner -->


  <div class="about_us_area home-section-div">
    <div class="container">

      <div class="row-fluid aboutus-content">

        <div class="span8 offset2">
          <h2 class="pink-font about-title">What We Do?</h2>
          <p>Based in Asia, CreativesAtWork is a media agency that brings together project owners and media freelancers from all over the world. With a strong network of media freelancers, CreativesAtWork provides a complete solution to every project owner's media needs and requirements. From corporate branding and graphic design, to video production and post-production, to photography and talents, CreativesAtWork covers the entire chain of media skills.
          </p>
          <p>
            For project owners, CreativesAtWork provides an efficient and effective selection process to identify the most suitable freelancers for their media projects. For media freelancers, CreativesAtWork provides an aggregating platform for their profiles and expands their job opportunities.</p>

          <ul class="about-list">
            <li><span class="list-title">Project</span> - in interdum lectus. Duis pharetra nisi ac risus semper, sed dapibus nunc facilisis</li>
            <li><span class="list-title">Community</span> - in interdum lectus. Duis pharetra nisi ac risus semper, sed dapibus nunc facilisis in interdum lectus. Duis pharetra nisi ac risus semper, sed dapibus nunc facilisis</li>
            <li><span class="list-title">Convenience</span> - in interdum lectus. Duis pharetra nisi ac risus semper, sed dapibus nunc facilisis</li>
          </ul>
          <div class="short-quote">
            <p><span class="big-font pink-font">Design is easy.</span> <span class="big-font"> All you do is stare at the screen until drops of blood from on your forehead</span></p>
            <p class="right-font">-Marty Neumier</p>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- end of section -->







  <div class="contact_area home-section-div">
    <div class="container">
      <div class="row-fluid contact-inner">
        <div class="span12">
          <div class="home-question">

            <div class="desc">Any Questions?</div>
            <a href="#/contact"><button class="btn btn-primary btn large" title="contact us">Contact Us</button></a>

            <button class="btn btn-primary btn-small" title="facebook"><i class="icon-facebook"></i></button>
            <button class="btn btn-primary btn-small" title="twitter"><i class="icon-twitter"></i></button>

          </div>

          <div class="soc-nav">

          </div>

        </div>
      </div>
    </div>
  </div> <!-- end of section -->


</div>