body {
	margin: 0;
	font-family: 'Rokkitt', serif !important;
}

p {
	font-size: 16px;
}

span {
	color: #f66201;
}

strong {
	font-size: 17px;
	color: #373435;
}

#top-bar {
	border-top: 2px solid #f66201;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.3);
}

#top-nav {
	width: 940px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 10px;
}

#top-nav .top-nav-bar {
	position: absolute;
	right: 0;
	bottom: 0;
}

#top-nav .top-nav-bar li a {
	color: #373435;
	font-size: 20px;
}

#Register .modal-body {
	max-height: 500px;
}

#main-content {
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.3);
}

.sidebar .nav {
	margin: 20px 0 20px 20px;
	border-right: 2px solid #e1e1e1;
}

.sidebar .nav-header {
	font-size: 25px;
	padding: 10px 5px;
	text-transform: none;
	border-bottom: none;
	font-weight: normal;
	color: #373435;
	border-right: 2px solid #fe9f61;
	margin-right: -17px !important;
}

.sidebar li a {
	border-bottom: 1px solid #e1e1e1;
	padding: 5px !important;
	margin-right: 5px !important;
	color: #373435;
	font-size: 17px;
}

.sidebar .btn {
	margin: 10px;
}

#home-content {
	-webkit-box-shadow: 0px -1px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px -1px 5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px -1px 5px rgba(50, 50, 50, 0.3);
	padding-bottom: 50px;
	margin-bottom: 20px;
}

.content-main {
	padding-right: 20px;
}

.content-main i {
	color: #b0b0b0;
}

.content-main .table .title a {
	font-size: 22px;
	color: #393637;
}

.content-main .venue-images .span4{
	margin-bottom: 3px;
}

.content-main form label {
	color: #5d5d5d;
	font-size: 18px;
}

.content-main .events th, .content-main .events td {
	text-align: center;
}

.content-main .colored {
	color: #e2a122;
}

.content-main .events th{
	background-color: #ececec;
}

#event-sup, #why-draw, #footer-content {
	width: 940px;
	margin: 0 auto;
}

#howto .span3 span {
	position: absolute;
	margin: 35px 25px;
}

#why-draw .span4 {
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
	padding: 20px 15px;
	height: auto;
	min-height: 120px;
}

#why-draw .span4 p {
	height: 40px;
}

.control-group .reg-label {
	width: 80px !important;
}

#footer-content .nav-list {
	padding: 0 20px 0 0;
	margin: 0;
}

#footer-content li a { 
    color: #989898;
    font-size: 16px;
}

#footer-content .directory ul {
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0 15px 0 0;
}

#footer-content .directory li:before {
    content: "• ";
    color: #f66201;
    font-size: 25px;
    margin-left: -15px;
    padding-right: 5px;
}

#footer-content h4 { 
    font-size: 24px;
    font-weight: normal;
}