<form class="form-horizontal" novalidate ng-submit="submitForm()" name="form">
  <div class="control-group" ng-class="{error: hasError(form.name)}">
    <label class="control-label" for="inputVendor">Vendor Name</label>
    <div class="controls">
      <input type="text" ng-model="form_object.name" name="name" id="inputVendor" placeholder="Name" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputService">Type of service offered</label>
    <div class="controls">
      <label class="checkbox" ng-repeat="service in services">
        <input type="checkbox" ng-model="form_object.checked_services[service.id]"> {{ service.display_name }}
      </label>
    </div>
  </div>
  <div class="control-group" ng-class="{error: hasError(form.vendor_address)}">
    <label class="control-label" for="inputAddress">Vendor address</label>
    <div class="controls">
      <textarea ng-model="form_object.address" name="vendor_address" required></textarea>
    </div>
  </div>
  <div class="row-fluid control-group" ng-class="{error: hasError(form.browse_description)}">
    <div class="span12">
      <label>Brief description to appear on browsing page</label>
      <textarea ng-model="form_object.browse_description" name="browse_description" rows="3" class="span12"></textarea>
    </div>
  </div>
  <div class="row-fluid control-group"  ng-class="{error: hasError(form.profile_description)}">
    <div class="span12">
      <label>Description to appear on profile page</label>
      <textarea ng-model="form_object.profile_description" name="profile_description" rows="3" class="span12"></textarea>
    </div>
  </div>

  <div class="control-group">
    <div class="fileupload-div" data-provides="fileupload">
      <div>
        <span class="btn btn-file">Upload Picture&nbsp;&nbsp;&nbsp;
          <input type="file" fileupload name="picture"
                 uploader-id="provider_picture"
                 server-domain="http://sgattractions.com:3003"
                 service-path="pictures" />
          <span ng-bind="provider_picture_state"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="control-group" ng-repeat="photo in form_object.provider_pictures">
    <div class="fileupload-div" ng-hide="photo._destroy">
      <div>
        <img ng-src = "{{ photo.url }}" style="max-width: 150px;">
        <a href ng-click="removeAssoc(form_object.provider_pictures, $index)" class="btn fileupload-exists">Remove</a>
      </div>
    </div>
  </div>



  <div class="row-fluid control-group">
    <div class="span12">
      <label>Map Address*</label>
      <textarea ng-model="form_object.map_address" rows="3" class="span12" required></textarea>
    </div>
  </div>

  <div class="row-fluid" control-group>
    <div class="span12">
      <div ui-map-marker="locationMarker">
      </div>

      <style>
        #map_canvas {
          height: 400px;
          width: 100%;
        }
      </style>

      <div id="map_canvas" ui-map="locationMap" class="map"
           ui-event="{'map-click': 'setLocationMarker($event, $params)'}"
           ui-options="mapOptions">
      </div>
    </div>
  </div>


  <div class="control-group" ng-class="{error: hasError(form.terms_and_conditions)}">
    <div class="controls">

      <label class="checkbox" ng-class="{error: hasError(form.terms_and_conditions)}">
        <input type="checkbox" required ng-model="terms_and_conditions" name="terms_and_conditions"> I have read the Terms and Conditons
      </label>
      <button type="submit" class="btn btn-warning span2">Submit</button>

    </div>
  </div>
</form>
