<div class="main-container">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 box_con">
        <div class=" text-center">
          <h2 class="box_title">Plans & Pricing</h2>
        </div>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum.</p>
        <div class="pricing-table-div">
          <div class="row-fluid">
            <div class="span4 pricing-table pricing-table-intro-col belize-hole bordered">
              <ul>
                <li class="height-auto note">* If premium subscription</li>
                <li>Directory listing</li>
                <li>Customer can review and rate vendor</li>
                <li>Allow photos</li>
                <li>Allow subsequent listing in other categories</li>
                <li>Contact details displayed on profile page</li>
                <li>15% discount on advertising rates</li>
                <li>Access to quote requester's contact details</li>
                <li>Featured listing (highlight + top listing)</li>
                <li>Eligible for blog/email marketing feature</li>
                <li class="height-auto note">All prices are quoted in Singapore Dollars, unless stated otherwise.</li>

              </ul>
            </div>
            <div class="span3 pricing-table belize-hole bordered">
              <ul>
                <li class="title"> Basic </li>
                <li class="price">
                  <div class="price-free">FREE</div>
                </li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-remove"></i></li>
                <li><i class="icon-remove"></i></li>
                <li><i class="icon-remove"></i></li>
                <li><i class="icon-remove"></i></li>
                <li><i class="icon-remove"></i></li>
                <li><i class="icon-remove"></i></li>
                <li><i class="icon-remove"></i></li>
                <li><i class="icon-remove"></i></li>
                <li class="price-button-div">
                  <a href ng-click="basicPlan()" class="btn btn-large btn-warning">Sign Up </a>
                </li>
              </ul>
            </div>
            <div class="span3 pricing-table belize-hole bordered">
              <ul>
                <li class="title"> Basic Plus </li>
                <li class="price"> <span class="currency-symbol">$</span> <strong>59</strong> <sup>00</sup> <em>/y</em> </li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-remove"></i></li>
                <li><i class="icon-remove"></i></li>
                <li><i class="icon-remove"></i></li>
                <li class="price-button-div">
                  <a href ng-click="basicPlusPlan()" class="btn btn-large btn-warning">Sign Up </a>
                </li>
              </ul>
            </div>
            <div class="span3 pricing-table belize-hole bordered">
              <ul>
                <li class="title"> Premium </li>
                <li class="price"> <span class="currency-symbol">$</span> <strong>269</strong> <sup>00</sup> <em>/y</em> </li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li class="price-button-div">
                  <a href ng-click="premiumPlan()" class="btn btn-large btn-warning">Sign Up </a>
                </li>
              </ul>
            </div>

            <div class="span3 pricing-table belize-hole bordered">
              <ul>
                <li class="title"> Subsequent </li>
                <li class="price">  <div class="price-free">50% off</div></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok"></i></li>
                <li><i class="icon-ok">*</i></li>
                <li><i class="icon-ok">*</i></li>
                <li><i class="icon-ok">*</i></li>
                <li class="price-button-div">
                  <button class="btn btn-large btn-warning">Sign Up </button>
                </li>
              </ul>
            </div>

          </div>
        </div> <!-- end of pricing-table-div -->

        <div class="seperator-dotted-1"></div>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum.</p>
      </div>
    </div>
  </div>
</div>