<div class="body_container">
  <div class="container">
    <div class="row">
      <div class="span10 offset1">
        <div class="featured_box con_box" id="settings_con">
          <div class="box_main_title">
            <h4 class="page_title_1">Employer Login</h4>
          </div>
          <div class="row">
            <div class="span5 offset1">
              <form novalidate ng-submit="submitForm()" name="userLoginForm" >
                <div class="control-group">
                  <label class="control-label">Password</label>
                  <div class="controls">
                    <input class="span3" type="password" placeholder="Password"
                           ng-model="user.password" name="password" required ng-minlength="8"
                           tooltip="Password is 8 letters long" tooltip-trigger="focus" tooltip-placement="right">
                  </div>
                </div>
                <div class="control-group">
                  <label></label>
                  <div class="controls"><a href ng-click="forgotPassword()">Forgot your password?</a></div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="settings_save"></label>
                  <div class="controls">
                    <button ng-disabled="!userLoginForm.$valid" id="settings_save" class="btn btn-small btn-primary" type="submit">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- end of box_main -->

        </div>
      </div>
    </div>
  </div>
</div>