<div class="body_container">
  <div class="container">
    <div class="row">
      <div class="span10 offset1">
        <div class="featured_box con_box" id="settings_con">
          <div class="box_main_title">
            <h4 class="page_title_1">Employer Login</h4>
          </div>
          <div class="row">
            <div class="span5 border-right-dotted">
              <form novalidate ng-submit="submitForm()" name="userLoginForm" >
                <div class="control-group">
                  <label class="control-label">Email</label>
                  <div class="controls">
                    <input class="" type="email" placeholder="Email"
                           ng-model="user.email" name="email" required>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Password</label>
                  <div class="controls">
                    <input class="" type="password" placeholder="Password"
                           ng-model="user.password" name="password" required ng-minlength="8"
                           tooltip="Password is 8 letters long" tooltip-trigger="focus" tooltip-placement="right">
                  </div>
                </div>
                <div class="control-group">
                  <label></label>
                  <div class="controls"><a href ng-click="forgotPassword()">Forgot your password?</a></div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="settings_save"></label>
                  <div class="controls">
                    <button ng-disabled="!userLoginForm.$valid" id="settings_save" class="btn btn-small btn-primary" type="submit">Login</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="span4">

              <a href ng-click="linkedinConnect()" class="btn btn-small btn-social-linkedin"> <i class="fui-linkedin"></i> Connect with Linkedin </a>
              <br>
              <br>
              <p>One-click sign in to Creatives@Work if your account is connected to Linkedin. We'll walk you through connecting it if it isn't. </p>
            </div>
          </div>
          <!-- end of box_main -->

        </div>
      </div>
    </div>
  </div>
</div>