<div>
  <h3 class="title-listing-1 margin-bottom-10">
    Pending Projects
  <span>
    ({{ current_user.pending_projects.length }})
  </span>
  </h3>

  <div class="slider_div projects_listing_div con_box" ng-show="current_user.pending_projects.length == 0">
    <p>There is no projects here...</p>
  </div>

  <div class="slider_div projects_listing_div con_box" ng-repeat="project in current_user.pending_projects">
    <div class="slider_details_con">

      <a ng-href="#/projects.show/{{ project.id }}">
        <h3>
          {{ project.title }}
        </h3>
      </a>

      <div class="slider_skills">
        <span class="demo-inline">
          <span class="label" ng-repeat="tag in project.tags">
            {{ tag }}
          </span>
        </span>
      </div>

      <div class="project-offer-to">
        <div class="offer-name">

          <i class="icon-bolt">
          </i>
          Bid by {{ project.bidders.length }} bidders
        </div>
      </div>
    </div>

    <div class="clearfix">
    </div>
  </div>
  <div class="clearfix">
  </div>
</div>