<div>
  <h3 class="title-listing-1 margin-bottom-10">
    Bidding Projects
    <span>
      ({{ current_user.bidding_projects.length }})
    </span>
  </h3>

  <div class="slider_div projects_listing_div con_box" ng-show="current_user.bidding_projects.length == 0">
    <p>There is no projects here...</p>
  </div>

  <div class="slider_div projects_listing_div con_box" ng-repeat="project in current_user.bidding_projects">
    <div class="slider_details_con">
      <a ng-href="#/projects.show/{{ project.id }}">
        <h3>
          {{ project.title }}
        </h3>
      </a>

      <div class="slider_skills">
        <span class="demo-inline">
          <span class="label" ng-repeat="tag in project.tags">
            {{ tag }}
          </span>
        </span>
      </div>

      <p>
        {{ project.project_description }}
      </p>

      <div class="slider_details_1">
        <div class="slider_price">
          <span>
            Budget:
          </span>
          {{ project.budget_range }}
        </div>

        <div class="slider_place">
          <em class="fui-location">
          </em>
          {{ project.company_location }}
        </div>

        <div class="clearfix">
        </div>
      </div>
    </div>

    <div class="clearfix">
    </div>
  </div>
</div>