<ul id="account_sidenav">
  <li ui-route="#/dashboard.freelancer" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.freelancer">
      Dashboard
    </a>
  </li>
  <li ui-route="#/dashboard.freelancer.notifications" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.freelancer.notifications">
      Notifications
      <div class="noti-circle" ng-show="current_user.unread_notifications.length > 0">
        {{ current_user.unread_notifications.length }}
      </div>
    </a>
  </li>
  <li ui-route="#/dashboard.freelancer.bid_projects" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.freelancer.bid_projects">
      Bidding Projects ({{ current_user.bidding_projects.length }})
    </a>
  </li>
  <li ui-route="#/dashboard.freelancer.offered_projects" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.freelancer.offered_projects">
      Offered Projects ({{ current_user.offered_projects.length }})
    </a>
  </li>
  <li ui-route="#/dashboard.freelancer.active_projects" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.freelancer.active_projects">
      Active Projects ({{ current_user.active_projects.length }})
    </a>
  </li>
  <li ui-route="#/dashboard.freelancer.completed_projects" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.freelancer.completed_projects">
      Completed Projects ({{ current_user.completed_projects.length }})
    </a>
  </li>
  <li ui-route="#/dashboard.freelancer.profile" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.freelancer.profile">
      Profile
    </a>
  </li>
</ul>