<div class="bottom-menu bottom-menu-inverse footer-nav">
  <div class="container">
    <div class="row">
      <div class="span10">
        <ul class="bottom-links">
          <li><a href="">Home</a></li>
          <li><a href="">Browse</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Terms</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="bottom-icons">
          <li><a href="" class="fui-linkedin"></a></li>
          <li><a href="" class="fui-facebook"></a></li>
          <li><a href="" class="fui-twitter"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>