<div id="footer">
  <div id="footer-content" class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span6 directory">
          <h4>Directory</h4>
          <ul class="span3">
            <li><a href="#">Venue</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Videography</a></li>
            <li><a href="#">Entertainment</a></li>
          </ul>
          <ul class="span3">
            <li><a href="#">Cakes</a></li>
            <li><a href="#">Transport</a></li>
            <li><a href="#">Decor</a></li>
            <li><a href="#">Flowers</a></li>
            <li><a href="#">Invitations & Stationery</a></li>
          </ul>
          <ul class="span5">
            <li><a href="#">Hair & Beauty</a></li>
            <li><a href="#">Fashion & Accessories</a></li>
            <li><a href="#">Novelty Services</a></li>
            <li><a href="#">Supplies and Part Favours</a></li>
          </ul>
        </div>
        <div class="span4">
          <h4>About Us</h4>
          <ul class="nav nav-list span7">
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Why List our Business</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Contact/Feedback</a></li>
          </ul>
          <ul class="nav nav-list span5">
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Advertise</a></li>
          </ul>
        </div>
        <div class="span2">
          <h4>Follow Us On</h4>
          <img src="styles/img/fb.png">
          <img src="styles/img/tw.png">
        </div>
      </div>
    </div>
    <div class="span12"></div>
  </div>
</div>