<div id="footer">
  <div id="footer-content" class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span6 directory">
          <h4>Directory</h4>
          <ul class="span3">
            <li><a href="/#/services/venues">Venue</a></li>
            <li><a href="/#/services/catering">Catering</a></li>
            <li><a href="/#/services/photography">Photography</a></li>
            <li><a href="/#/services/videography">Videography</a></li>
            <li><a href="/#/services/entertainment">Entertainment</a></li>
          </ul>
          <ul class="span3">
            <li><a href="/#/services/cakes">Cakes</a></li>
            <li><a href="/#/services/transport">Transport</a></li>
            <li><a href="/#/services/decor">Decor</a></li>
            <li><a href="/#/services/flowers">Flowers</a></li>
            <li><a href="/#/services/invitations_and_stationery">Invitations & Stationery</a></li>
          </ul>
          <ul class="span5">
            <li><a href="/#/services/hair_and_beauty">Hair & Beauty</a></li>
            <li><a href="/#/services/fashion_and_accessories">Fashion & Accessories</a></li>
            <li><a href="/#/services/novelty_services">Novelty Services</a></li>
            <li><a href="/#/services/supplies_and_party_favours">Supplies and Part Favours</a></li>
          </ul>
        </div>
        <div class="span4">
          <h4>About Us</h4>
          <ul class="nav nav-list span7">
            <li><a href="/#/about">About</a></li>
            <li><a href="/#/blog">Blog</a></li>
            <li><a href="/#/why_list_our_business">Why List our Business</a></li>
            <li><a href="/#/faq">FAQ</a></li>
            <li><a href="/#/contact">Contact Us</a></li>
          </ul>
          <ul class="nav nav-list span5">
            <li><a href="/#/newsletter">Newsletter</a></li>
            <li><a href="/#/advertise">Advertise</a></li>
          </ul>
        </div>
        <div class="span2">
          <h4>Follow Us On</h4>
          <img src="styles/img/fb.png">
          <img src="styles/img/tw.png">
        </div>
      </div>
    </div>
    <div class="span12"></div>
  </div>
</div>