<div>
  <div class="row-fluid">
    <div class="span3">
      <a href ng-click="goTo('venues')"><img src="styles/img/events/venues.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">
      <a href ng-click="goTo('catering')"><img src="styles/img/events/catering.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">
      <a href ng-click="goTo('photography')"><img src="styles/img/events/photography.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">
      <a href ng-click="goTo('videography')"><img src="styles/img/events/videography.jpg" class="img-polaroid"></a>
    </div>
  </div>
  <div class="span12"></div>
  <div class="row-fluid">
    <div class="span3">
      <a href ng-click="goTo('entertainment')"><img src="styles/img/events/entertainment.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">
      <a href ng-click="goTo('cakes')"><img src="styles/img/events/cakes.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">
      <a href ng-click="goTo('transport')"><img src="styles/img/events/transport.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">
      <a href ng-click="goTo('decor')"><img src="styles/img/events/decor.jpg" class="img-polaroid"></a>
    </div>
  </div>
  <div class="span12"></div>
  <div class="row-fluid">
    <div class="span3">
      <a href ng-click="goTo('flowers')"><img src="styles/img/events/flowers.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">
      <a href ng-click="goTo('invitations_and_stationery')"><img src="styles/img/events/invitations.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">
      <a href ng-click="goTo('hair_and_beauty')"><img src="styles/img/events/hair-beauty.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">
      <a href ng-click="goTo('fashion_and_accessories')"><img src="styles/img/events/fashion.jpg" class="img-polaroid"></a>
    </div>
  </div>
  <div class="span12"></div>
  <div class="row-fluid">
    <div class="span3">

    </div>
    <div class="span3">
      <a href ng-click="goTo('novelty_services')"><img src="styles/img/events/novelty.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">
      <a href ng-click="goTo('supplies_and_party_favours')"><img src="styles/img/events/supplies.jpg" class="img-polaroid"></a>
    </div>
    <div class="span3">

    </div>
  </div>
</div>