<div class="span3 sidebar">
  <ul class="nav nav-list">
    <li class="nav-header">Welcome</li>
    <li><a href="#">Venues</a></li>
    <li><a href="#">Catering</a></li>
    <li><a href="#">Photography</a></li>
    <li><a href="#">Videography</a></li>
    <li><a href="#">Entertainment</a></li>
    <li><a href="#">Cakes</a></li>
    <li><a href="#">Transport</a></li>
    <li><a href="#">Decor</a></li>
    <li><a href="#">Flowers</a></li>
    <li><a href="#">Invitations & Stationery</a></li>
    <li><a href="#">Fashion & Accessories</a></li>
    <li><a href="#">Hair & Beauty</a></li>
    <li><a href="#">Novelty Services</a></li>
    <li><a href="#">Supplies & Party Favours</a></li>
  </ul>
  <button class="btn btn-large btn-primary" type="button">REVIEW & SUBMIT</button>
</div>