<div class="span3 sidebar">


  <ul class="nav nav-list l_tinynav1" id="sidebar-nav">
    <li class="nav-header">Select a category</li>
    <li ng-repeat="service in services">
      <a href ng-click="goTo(service.name)">{{ service.display_name }}</a>
    </li>
  </ul>
  <!--<button class="btn btn-large btn-primary" type="button">REVIEW & SUBMIT</button>-->
  
<h3>Select a category to start</h3>  
  <select id="tinynav1" class="tinynav tinynav1">
  		<option ng-repeat="service in services" ng-click="goTo(service.name)">{{ service.display_name }}
  		</li>
	  </option>	
  </select>
  
  
  
</div>
