<div class="span9">
  <div class="content-main">
    <h2 class="text-center">WELCOME TO YOUR <span>DRAWING BOARD</span></h2>
    <div id="howto" class="row-fluid">
      <div class="span12 text-center">
        <h3>How to use your Drawing Board?</h3>
        <div class="row-fluid">
          <div class="span3">
            <img src="styles/img/how1.png"><span><img src="styles/img/arrow.png"></span>
            <p><strong>User come to the site</strong></p>
            <p>Login to their accounts</p>
          </div>
          <div class="span3">
            <img src="styles/img/how2.png"><span><img src="styles/img/arrow.png"></span>
            <p><strong>Browse event suppliers</strong></p>
            <p>Add the right suppliers to cart</p>
          </div>
          <div class="span3">
            <img src="styles/img/how3.png"><span><img src="styles/img/arrow.png"></span>
            <p><strong>Submit a form</strong></p>
            <p>The form then will send the details to all event suppliers</p>
          </div>
          <div class="span3">
            <img src="styles/img/how4.png">
            <p><strong>Event suppliers contact the user</strong></p>
            <p>Done!</p>
          </div>
          <div class="span11"><hr></div>
        </div>
      </div>
    </div>
    <h3 class="text-center"><span>CREATE YOUR EVENT</span></h3>
    <p class="text-center"><b>Choose vendors and request quotes using our free, easy-to-use drawingboard too</b></p>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEvent">Event name</label>
        <div class="controls">
          <input type="text" id="inputEvent" placeholder="e.g. Jamie's 21st Birthday Party" class="span5">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputDate">Date</label>
        <div class="controls">
          <input type="text" id="inputDate" placeholder="30 / 1 / 2013">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputGuest">Time</label>
        <div class="controls">
          <input type="text" id="inputFrom" placeholder="From" class="span1"> - <input type="text" id="inputUntil" placeholder="Until" class="span1">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputGuest">Number of Guest</label>
        <div class="controls">
          <input type="text" id="inputGuest" class="span1">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputLocation">Location(s), if known</label>
        <div class="controls">
          <textarea rows="3" class="span5"></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox"> I have read the Terms and Conditons
          </label>
          <button type="submit" class="btn btn-primary span2">Proceed</button>
        </div>
      </div>
    </form>
  </div>
</div>