<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- So that mobile webkit will display zoomed in -->

  <title>DrawingBoard</title>
  <style type="text/css">
          /* Resets: see reset.css for details */



      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
          margin: 0;
          padding: 0;
          border: 0;
          vertical-align: baseline;
      }
          /* HTML5 display-role reset for older browsers */
      article, aside, details, figcaption, figure,
      footer, header, hgroup, menu, nav, section {
          display: block;
      }
      body {
          line-height: 18px;
          font-size: 13px;
          font-family: Arial, sans-serif;
      }
      ol, ul {
          list-style: none;
      }
      blockquote, q {
          quotes: none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
          content: '';
          content: none;
      }
      table {
          border-collapse: collapse;
          border-spacing: 0;
      }


      body {
          -webkit-text-size-adjust: none;
          -ms-text-size-adjust: none;
          margin: 0;
          padding: 0;
      }
      table {
          border-spacing: 0;
      }
      table td {
          border-collapse: collapse;
      }


          /* Constrain email width for small screens */
      @media screen and (max-width: 600px) {
          table[class="container"] {
              width: 95% !important;
          }
      }

          /* Give content more room on mobile */
      @media screen and (max-width: 480px) {
          td[class="container-padding"] {
              padding-left: 12px !important;
              padding-right: 12px !important;
          }
      }
  </style>
  <script type="text/javascript" src="chrome-extension://bfbmjmiodbnnpllbbbfblcplfjjepjdn/js/injected.js"></script>
  <meta name="chromesniffer" id="chromesniffer_meta" content="{}">
  <script type="text/javascript" src="chrome-extension://homgcnaoacgigpkkljjjekpignblkeae/detector.js"></script>
</head>
<body style="margin:0; padding:10px 0;" bgcolor="#ebebeb" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<br>

<!-- 100% wrapper (grey background) -->
<table border="0" width="100%"  cellpadding="0" cellspacing="0" bgcolor="#ebebeb">
  <tbody>
  <tr>
    <td align="center" valign="top" bgcolor="#ebebeb" style="background-color: #ebebeb;"><!-- 600px container (white background) -->

      <table border="0" width="600" cellpadding="0" cellspacing="0" class="container" bgcolor="#ffffff">
        <tbody>
        <tr>
          <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 14px; line-height: 20px; font-family: Arial, Helvetica, sans-serif; color: #333;"><br>
            <div style="text-align: center; margin: 20px 0px 20px; border-bottom: 1px dotted #ddd; padding-bottom: 20px;"> <img src="<%= attachments['logo.png'].url %>" style="width: 250px;" alt=""> </div>

            <!-- ### BEGIN CONTENT ### -->

            <div style="font-weight: bold; font-size: 22px; line-height: 26px; color: #ec008a; text-align: center;"> Welcome to Creatives@Work</div>
            <br>

            Welcome to DrawingBoard. Over here, we are committed to profile YOU and to match YOUR skills to the most appropriate project
            <br>
            <br>
            <br>

            <div class="active-button" style="text-align: center;"> <a href="<%= @confirmation_link %>" style="padding: 12px 40px;background-color: #ec008a;border-bottom: 1px solid rgba(0,0,0,0.35);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;color: #fff!important;
                    font-size: 16px!important; text-decoration: none;
                    line-height: 22px;">Get Started</a> </div>
            <br>
            <br>


            <table>
              <tr>

                <td width="200" style="height: 176px;text-align: center; padding: 5px; line-height: 19px; font-size: 15px;">
                  <div style="padding: 10px;background-color: #f6f6f6;">
                    <b>STEP 1:</b><br>
                    Register and update your profile
                    <br><br>

                    <p style="font-size: 11px; text-align: left; line-height: 15px; margin: 10px 0px 0px;">Set up a profile that will showcase your skills and allow potential project owners for search for YOU. We want to know what you are excellent at</p>
                  </div>
                </td>
                <td width="200" style="text-align: center; padding: 5px; line-height: 19px; font-size: 15px;">
                  <div style="height: 176px;padding: 10px;background-color: #f6f6f6;">
                    <b>STEP 2:</b><br>
                    Search for projects that you are interested in


                    <p style="font-size: 11px; text-align: left; line-height: 15px; margin: 10px 0px 0px;">

                      Once your profile is up, you can search for the projects available. Project owners will also be able to search for you</p><br>
                  </div>
                </td>

                <td width="200"  style="text-align: center; padding: 5px; line-height: 19px; font-size: 15px;">
                  <div style="height: 176px;padding: 10px;background-color: #f6f6f6;">
                    <b>STEP 3:</b><br>
                    Once there is match, proceed to do what you are good at.


                    <p style="font-size: 11px; text-align: left; line-height: 15px; margin: 10px 0px 0px;">

                      Congratulations! Do your best!</p>
                  </div>
                </td>


            </table>


            <br>
            <br>
            We welcome you to be part of the family. Please feel free to contact us anytime at <a style="color:ec008a;" href="mailto:support@creativesatwork.com">support@creativesatwork.com</a> .
            <br>
            <br>





            We look forward to hear from you.


            All the best!
            <br>
            <br>

            LOVE,<br>
            DrawingBoard


            <br>
            <div class="" style="background-color:#f6f6f6; padding: 10px; margin: 20px 0px 20px; text-align:center; font-size: 13px;"> &nbsp;<a style="color:#666666;text-decoration:none" href="<%= @siteLoginLink %>" target="_blank">Log in now</a> |
              &nbsp;<a style="color:#666666;text-decoration:none" href="https://twitter.com/CreativesAtWrk" target="_blank">Follow us on Twitter</a> | <a style="color:#666666;text-decoration:none" href="http://www.facebook.com/pages/CreativePeopleWork/137832046313338" target="_blank">Find us on Facebook</a> &nbsp; </div>

            <!-- ### END CONTENT ### --></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <!--/600px container -->

    <td align="center" valign="top" bgcolor="#ebebeb" style="background-color: #ebebeb; font-family: Arial, Helvetica, sans-serif; font-size: 10px;  padding: 15px 0px 10px;">
      <table border="0" width="600" cellpadding="0" cellspacing="0">
        <tr>
          <td ><p style="text-align:center; display:block;font-size: 10px;">Copyright © 2013 Creatives@Work, All rights reserved.</p></td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<!--/100% wrapper-->

</body>
</html>