<div class="body_container">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="con_box uncon_box">
          <a class="btn btn-block btn-primary" href="#/freelancers">Browse All Freelancers</a>
        </div>
      </div>
      <!-- end of span3 -->
      <div class="span9">
        <h4 class="title-listing-1">Freelancer in <span class="title-listing-1-skill">{{freelancer.job_category.name}}</span></h4>
        <div class="slider_div con_box">
          <div class="slider_img_con">
            <a href=""><img class="img_refit" nailthumb height="125" width="125" method="resize" ng-src="{{ freelancer.photo_url }}"></a>
            <div class="clearfix"></div>
          </div>
          <div class="slider_details_con">
            <a href="">
              <h3>{{ freelancer.first_name }} {{ freelancer.last_name }} | {{ freelancer.job_title }}</h3>
            </a>
            <div class="slider_skills">
              <span class="demo-inline">
                <span class="label" ng-repeat="skill in freelancer.skills">{{ skill }}</span>
              </span>
            </div>
            <!-- /row -->
            <div class="slider_details_1">
              <div class="slider_price"><span>Day Rate:</span> ${{ freelancer.day_rate }} ++</div>
              <div class="slider_place"><i class="fui-location"></i> {{ freelancer.location }}</div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- end of slider_div -->

        <div ng-show=" user_type == 'employer' " class="slider_div projects_listing_div con_box">
          <div class="final-offer-div">
            <div class="final-offer-div-desc">Offer my project: </div>
            <select ng-model="offering_project_id" ng-options="project.id as project.title for project in current_user.pending_projects"></select>
            <a ng-click="offerProject()" class="btn btn-header-nav btn-primary" href>Confirm</a>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="slider_div con_box">

          <h6 class="con-box-title-1"><i class="icon-coffee"></i> About</h6>
          <p ng-bind="freelancer.other_information"></p>
          <div class="hr1"></div>

          <h6 class="con-box-title-1"><i class="icon-briefcase"></i> Work</h6>
          <h5>Years of experience</h5>
          <p ng-bind="freelancer.years_of_experience"></p>
          <h5>Professional History</h5>
          <p ng-bind="freelancer.professional_history"></p>
          <h5 ng-show="freelancer.portfolios.length != 0">Portfolios</h5>
          <p  ng-repeat="portfolio in freelancer.portfolios">
            <a target="_blank" ng-href="{{ portfolio.url }}">{{ portfolio.url }}</a>
          </p>
          <div class="hr1"></div>

          <h6 class="con-box-title-1"><i class="icon-book"></i> Education</h6>
          <h5>Education and Certificates</h5>
          <p ng-bind="freelancer.education_and_certificates"></p>
          <h5 ng-show="freelancer.accolades_and_awards">Accolades and Awards</h5>
          <p ng-show="freelancer.accolades_and_awards" ng-bind="freelancer.accolades_and_awards"></p>


        </div>
        <!-- end of con_box -->
      </div>
      <!-- end of span9 -->
    </div>
  </div>
</div>