<div class="body_container">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="con_box uncon_box">
          <a class="btn btn-block btn-primary" href ng-click="clearFilters()">Clear filters</a>
        </div>
        <div class="con_box listing-sidebar sidebar-search">
          <h6 class="title-sidebar-1">Find a project</h6>
          <form class="form-search ">
            <div class="input-append">
              <input search-input type="text" class="search-query span2" placeholder="Search">
              <button search-button type="submit" class="btn btn-large"> <i class="fui-search"></i> </button>
            </div>
          </form>
        </div>
        <div class="con_box listing-sidebar sidebar-categories">
          <div class="">
            <h6 class="title-sidebar-1">Categories</h6>
            <ul class="side_second_menu">
              <search-menu name="job_categories" options="item as item.name for item in job_categories"></search-menu>
            </ul>
          </div>
        </div>

        <div class="con_box listing-sidebar sidebar-categories">
          <div class="">
            <h6 class="title-sidebar-1">Budgets</h6>
            <ul class="side_second_menu">
              <search-menu name="budget_range" options="item as item for item in budget_ranges"></search-menu>
            </ul>
          </div>
        </div>
      </div>
      <!-- end of span3 -->

      <div class="span9">
        <h4 ng-show="current_job_category != 'All'" class="title-listing-1">Projects related to <span class="title-listing-1-skill">{{current_job_category}}</span></h4>

        <div ng-repeat="project in projects">

          <div class="slider_div con_box">
            <div class="slider_details_con">
              <a ng-href="#/projects.show/{{ project.id }}">
                <h3>{{project.title}} </h3>
              </a>
              <div class="slider_skills">
              <span class="demo-inline">
                <span class="label" ng-repeat="tag in project.tags">{{tag}}</span>
              </span>
              </div>
              <p>{{project.project_description}}</p>
              <div class="slider_details_1">
                <div class="slider_price"><span>Day Rate:</span> {{project.budget_range}}</div>
                <div class="slider_place"><i class="fui-location"></i> {{project.company_location}}</div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="pull-right" pagination num-pages="total_pages" current-page="query.page" max-size="9"></div>

      </div>
      <!-- end of span9 -->
    </div>
  </div>
</div>