<div class="main-container">
  <div id="main-content" class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <sidebar></sidebar>
          <div class="span9">
            <div class="content-main">
              <ul class="breadcrumb">
                <li><a ng-href="/#/service_categories"><span>Home</span></a> <span class="divider">/</span></li>
                <li ng-show="service"><a ng-href="/#/services/{{ service.name }}"><span>{{ service.display_name }}</span></a> <span class="divider">/</span></li>
                <li class="active">{{ provider.name }}</li>
              </ul>
              <div class="row-fluid">
                <div class="span12">
                  <h2>{{ provider.name }}
                    <button ng-show="requestsInCart[provider.id] == null" ng-click="requestQuote()" class="btn btn-warning pull-right">Request Quote</button>
                    <button ng-show="requestsInCart[provider.id] != null" class="btn btn-info pull-right">Requested</button>
                  </h2>
                </div>
              </div>
              <div class="row-fluid">
                <p class="span6"><custom-rating value="provider.overall_rating" max="5" readOnly="true"></custom-rating></p>
                <p class="text-right span6"><a href ng-click="goToReviews()">({{ reviews.length }}) Reviews</a></p>
              </div>
              <p>{{ provider.profile_description }}</p>
              <hr>

              <div class="row-fluid venue-images" ng-show="provider.priceplan.code == 'basic' || provider_pictures_pairs.length == 0">
                <div class="span12" ng-hide="provider.map_lat == null || provider.map_lat == '' || provider.map_lng == null || provider.map_lng == '' ">
                  <h4>Map</h4>
                  <a target="_blank" ng-href="https://maps.google.com/maps?z=14&q={{ provider.map_lat }},{{ provider.map_lng }}">
                    <img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{ provider.map_lat }},{{ provider.map_lng }}&zoom=13&size=248x171&markers={{ provider.map_lat }},{{ provider.map_lng }}&sensor=false"
                         class="img-polaroid" width="248" height="171">
                  </a>
                </div>
              </div>

              <div class="row-fluid venue-images" ng-hide="provider.priceplan.code == 'basic' || provider_pictures_pairs.length == 0">
                <div class="span8">
                  <h4>Images</h4>
                  <ul class="thumbnails" ng-repeat="pair in provider_pictures_pairs">
                    <li class="span6">
                      <a ng-click="openPictureDialog(pair[0].avatar_url)" href class="thumbnail">
                        <img ng-src="{{ pair[0].avatar_url }}">
                      </a>
                    </li>
                    <li class="span6" ng-show="pair[1].avatar_url">
                      <a ng-click="openPictureDialog(pair[1].avatar_url)" href class="thumbnail">
                        <img ng-src="{{ pair[1].avatar_url }}">
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="span4" ng-hide="provider.map_lat == null || provider.map_lat == '' || provider.map_lng == null || provider.map_lng == '' ">
                  <h4>Map</h4>
                  <a target="_blank" ng-href="https://maps.google.com/maps?z=14&q={{ provider.map_lat }},{{ provider.map_lng }}">
                    <img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{ provider.map_lat }},{{ provider.map_lng }}&zoom=13&size=248x171&markers={{ provider.map_lat }},{{ provider.map_lng }}&sensor=false"
                         class="img-polaroid" width="248" height="171">
                  </a>
                </div>
              </div>


              <hr>
              <div class="text-center">
                <strong>Share this page</strong>&nbsp;&nbsp;&nbsp;
                <div class="btn-group">

                  <button class="btn"><img src="styles/img/icon-arr.png"></button>
                  <button class="btn"><img src="styles/img/icon-f.png"></button>
                  <button class="btn"><img src="styles/img/icon-t.png"></button>
                </div>
              </div>
              <hr>

              <div id="listing-reviews">
                <div class="row-fluid">
                  <h4 class="span12">{{ reviews.length }} / {{ all_reviews_count }} reviews from our community</h4>
                </div>
              </div>

              <div class="row-fluid" ng-show="user_type == 'member'">
                <div class="span4">
                  <a href ng-click="reviewFormOpened = true" class="btn btn-warning">
                    Write a Review
                  </a>
                </div>
                <div class="span8">
                  <div class="pull-right">
                    <strong>Sort By</strong>&nbsp;&nbsp;&nbsp;
                    <div class="btn-group">
                      <button ng-click="reviews_query.order = 'created_at DESC'" class="btn" ng-class="{'btn-info': reviews_query.order == 'created_at DESC'}">Most Recent</button>
                      <button ng-click="reviews_query.order = 'rating DESC'" class="btn" ng-class="{'btn-info': reviews_query.order == 'rating DESC'}">Rating</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row-fluid" ng-if="user_type != 'member' && provider.priceplan.code != 'basic' ">
                <div class="span4">
                  <a href ng-click="notify_error('Please login as member in order to submit a review')" class="btn btn-warning">
                    Write a Review
                  </a>
                </div>
                <div class="span8">
                  <div class="pull-right">
                    <strong>Sort By</strong>&nbsp;&nbsp;&nbsp;
                    <div class="btn-group">
                      <button ng-click="reviews_query.order = 'created_at DESC'" class="btn" ng-class="{'btn-info': reviews_query.order == 'created_at DESC'}">Most Recent</button>
                      <button ng-click="reviews_query.order = 'rating DESC'" class="btn" ng-class="{'btn-info': reviews_query.order == 'rating DESC'}">Rating</button>
                    </div>
                  </div>
                </div>
              </div>

              <hr>

              <div class="row-fluid" ng-show="user_type == 'member' && reviewFormOpened">
                <review-form provider="provider" review-form-opened="reviewFormOpened" reviewer="current_user" type="new"></review-form>
              </div>

              <div class="row-fluid"  ng-repeat="review in reviews">
                <div class="span12">
                  <div class="row-fluid">
                    <h4 class="span12">{{ review.title }} <span class="text-grey pull-right small">{{ review.updated_at | date:medium }}</span></h4>
                  </div>

                  <div class="row-fluid">
                    <div class="span9">
                      <p>by: <span>{{ review.reviewer.first_name }}</span>, {{ review.reviewer.reviews.length }} Reviews</p>
                    </div>
                    <div class="span3">
                      <div class="pull-right">
                        <custom-rating value="review.rating" max="5" readOnly="true"></custom-rating>
                      </div>
                    </div>
                  </div>
                  <p>{{ review.content }}</p>
<!--
                  <div class="row-fluid">
                    <div class="span8">1 of 1 people found this review helpful, did you?</div>
                    <div class="span4">
                      <div class="btn-group">
                        <button class="btn">Yes</button>
                        <button class="btn">No</button>
                      </div>
                    </div>
                  </div>
-->
                </div>
              </div>
              <div ng-if="reviews.length > 0">
                <hr>
                <div class="pull-right" pagination
                     total-items="all_reviews_count"
                     page="reviews_query.page"
                     items-per-page="reviews_query.per_page"
                     max-size="9"></div>
              </div>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>