<div class="main-container">
  <div id="main-content" class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <sidebar></sidebar>
          <div class="span9 listing-div">
            <div class="content-main">
              <h2 class="text-center"><span>{{ service.display_name }}</span></h2>
              <p>Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque quisque. In eget sapien.</p>
<!--              <div class="text-center">
                <strong>Sort</strong>&nbsp;&nbsp;&nbsp;
                <div class="btn-group">
                  <button class="btn">Recently Added</button>
                  <button class="btn">Rating</button>
                  <button class="btn">Alphabetical</button>
                </div>
              </div>-->
              <br>
              <table class="table">
                <tr ng-repeat="provider in service.providers">
                  <td class="row-fluid span12">
                    <div class="span4 thumbnails"><a ng-href="/#/provider/{{ provider.id }}/{{ service.name }} " class="thumbnail">
                      <img src="styles/img/thumbs.png" ng-show="provider.provider_pictures.length == 0">
                      <img ng-src="{{ provider.provider_pictures[0].avatar_url }}" >
                    </a></div>
                    <div class="span8">
                      <p class="title"><a ng-href="/#/provider/{{ provider.id }}/{{ service.name }} ">{{ provider.name }}</a></p>
                      <!--<div class="row-fluid">
                        <p class="span6"><i class="icon-star colored"></i><i class="icon-star colored"></i><i class="icon-star colored"></i><i class="icon-star"></i><i class="icon-star"></i></p><p class="span6"></p>
                      </div>-->
                      <p class="listing-desc-div">{{ provider.browse_description }}</p>
                      <div class="row-fluid">
                        <div class="span6"><a ng-href="/#/provider/{{ provider.id }}/{{ service.name }} ">More Information (1000 reviews)</a></div><div class="span6">
                        <a ng-href="/#/provider/{{ provider.id }}/{{ service.name }}" class="btn btn-warning">Request Quote</a>
                      </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>

<!--              <hr>

              <div class="pagination pull-right">
                <ul>
                  <li><a href="#">«</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>-->

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>