<style>
  .listing-sidebar .accordion-group{
    border: 0px;
  }
</style>

<div class="con_box listing-sidebar sidebar-categories">

  <h6 class="title-sidebar-1">Categories</h6>
  <accordion close-others="true">
    <accordion-group heading="Writing">
      <ul class="side_second_menu filterlinks pricefilters">
        <li><a href ng-click="setJobTitle($event)">Scriptwriter</a></li>
        <li><a href ng-click="setJobTitle($event)">Writer</a></li>
        <li><a href ng-click="setJobTitle($event)">Copywriter</a></li>
        <li><a href ng-click="setJobTitle($event)">Journalist</a></li>
        <li><a href ng-click="setJobTitle($event)">Editor</a></li>
      </ul>
    </accordion-group>
    <accordion-group heading="Design">
      <ul class="side_second_menu filterlinks pricefilters">
        <li><a href ng-click="setJobTitle($event)">Product Designer</a></li>
        <li><a href ng-click="setJobTitle($event)">Graphic Designer</a></li>
        <li><a href ng-click="setJobTitle($event)">Copywriter</a></li>
        <li><a href ng-click="setJobTitle($event)">Multimedia Designer</a></li>
        <li><a href ng-click="setJobTitle($event)">Motion Graphic Designer</a></li>
        <li><a href ng-click="setJobTitle($event)">Art Director</a></li>
        <li><a href ng-click="setJobTitle($event)">Creative Director</a></li>
        <li><a href ng-click="setJobTitle($event)">Set Designer</a></li>
        <li><a href ng-click="setJobTitle($event)">Wardrode Designer</a></li>
        <li><a href ng-click="setJobTitle($event)">Web Designer</a></li>
      </ul>
    </accordion-group>
    <accordion-group heading="Production">
      <ul class="side_second_menu filterlinks pricefilters">
        <li><a href ng-click="setJobTitle($event)">2D & 3D Animator</a></li>
        <li><a href ng-click="setJobTitle($event)">Illustrator</a></li>
        <li><a href ng-click="setJobTitle($event)">Video Producer</a></li>
        <li><a href ng-click="setJobTitle($event)">Director</a></li>
        <li><a href ng-click="setJobTitle($event)">Soundman</a></li>
        <li><a href ng-click="setJobTitle($event)">Lightingman</a></li>
        <li><a href ng-click="setJobTitle($event)">Videographer</a></li>
        <li><a href ng-click="setJobTitle($event)">Cameraman</a></li>
        <li><a href ng-click="setJobTitle($event)">Grip & Gaffer</a></li>
        <li><a href ng-click="setJobTitle($event)">Production Manager</a></li>
        <li><a href ng-click="setJobTitle($event)">Location Manager</a></li>
        <li><a href ng-click="setJobTitle($event)">Director</a></li>
        <li><a href ng-click="setJobTitle($event)">Video Editor</a></li>
        <li><a href ng-click="setJobTitle($event)">3D Artist</a></li>
        <li><a href ng-click="setJobTitle($event)">Photographer</a></li>
        <li><a href ng-click="setJobTitle($event)">DI Artist</a></li>
        <li><a href ng-click="setJobTitle($event)">Audio Producer</a></li>
        <li><a href ng-click="setJobTitle($event)">Project Manager</a></li>
      </ul>
    </accordion-group>
    <accordion-group heading="Others">
      <ul class="side_second_menu filterlinks pricefilters">
        <li><a href ng-click="setJobTitle($event)">Voice-over Artists</a></li>
        <li><a href ng-click="setJobTitle($event)">Translator</a></li>
        <li><a href ng-click="setJobTitle($event)">Marketing </a></li>
        <li><a href ng-click="setJobTitle($event)">PR</a></li>
      </ul>
    </accordion-group>
  </accordion>

</div>