<div class="body_container">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="box_main sidenav">
          <div ng-include src="'partials/dashboard/freelancer.side_menu.html'"></div>
        </div>
      </div>

      <div class="span9">
        <h3 class="title-listing-1 margin-bottom-10">Notifications
          <span>({{ current_user.unread_notifications.length }})</span></h3>

        <div ng-repeat="notification in current_user.unread_notifications" class="slider_div projects_listing_div con_box">
          <div class="slider_details_notification">

            <div ng-bind-html-unsafe="notification.message"></div>
            <div class="slider_details_notification_time">
              {{ notification.created_at | date:'medium' }}
            </div>

          </div>
          <div class="clearfix"></div>
        </div>

      </div>

    </div>
  </div>
</div>