<div class="main-container">
  <div id="main-content" class="container">
    <div class="row">
      <div class="span12">
        <div class="row">

          <div class="span3 sidebar">
            <ul class="nav nav-list">
              <li class="nav-header">Account</li>
              <li class="active"><a href">My Events</a></li>
              <li><a href="/#/dashboard.member.profile">My Profile</a></li>
            </ul>
          </div>

          <div class="span9">
            <div class="content-main">

              <h3>MY UPCOMING EVENTS</h3>
              <p>You haven't created any event yet. <a href="">Create a new event now!</a></p>
              <table class="events table table-bordered table-condensed">
                <tr>
                  <th>Event Date</th>
                  <th>Event Name</th>
                  <th>DrawingBoard(s) submitted</th>
                  <th class="span3">Details</th>
                </tr>
                <tr>
                  <td>23/09/13</td>
                  <td><span>Jamie's 21st Birthday Party</span></td>
                  <td>Submitted on 13:50, 16/05/13</td>
                  <td><a href="">Edit</a></td>
                </tr>
                <tr>
                  <td>12/10/13</td>
                  <td><span>Anna's Wedding</span></td>
                  <td>Submitted on 13:50, 16/05/13</td>
                  <td><a href="">Edit</a></td>
                </tr>
              </table>
              <hr>
              <h3>MY PAST EVENTS</h3>
              <p>You have no past event on list yet.</p>
              <table class="events table table-bordered table-condensed">
                <tr>
                  <th>Event Date</th>
                  <th>Event Name</th>
                  <th>DrawingBoard(s) submitted</th>
                  <th class="span3">Details</th>
                </tr>
                <tr>
                  <td>23/09/13</td>
                  <td><span>Jamie's 21st Birthday Party</span></td>
                  <td>Submitted on 13:50, 16/05/13</td>
                  <td><a href="">Edit</a></td>
                </tr>
                <tr>
                  <td>12/10/13</td>
                  <td><span>Anna's Wedding</span></td>
                  <td>Submitted on 13:50, 16/05/13</td>
                  <td><a href="">Edit</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>