<div class="main-container">
  <div id="main-content" class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span12">
            <div class="content-main">
              <h3>Listing</h3>
              <table class="admin-table table table-bordered table-condensed table-striped table-hover">
                <tr>
                  <th>Listing name</th>
                  <th>59/year</th>
                </tr>
                <tr>
                  <td>Discount Code: <input /></td>
                  <td><a href>Pay</a></td>
                </tr>
              </table>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>