<div class="body_container">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="box_main sidenav" ng-hide="current_user.profile_incomplete">
          <div ng-include src="'partials/dashboard/freelancer.side_menu.html'">
          </div>
        </div>
      </div>
      <!-- end of span3 -->

      <div class="span9">
        <h3 class="title-listing-1 margin-bottom-10" ng-show="current_user.profile_incomplete">
          Complete Registration
        </h3>
        <h3 class="title-listing-1 margin-bottom-10" ng-hide="current_user.profile_incomplete">
          Your Profile
        </h3>

        <div class="featured_box box_main" id="settings_con">


          <form novalidate ng-submit="submitForm()" name="form">

            <div class="box_main_title">
              Please provide your information below
            </div>

            <div class="settings_divider"></div>

            <div class="control-group" ng-class="{error: hasError(form.first_name)}">
              <label class="control-label">First Name</label>
              <input type="text" ng-model="current_user.first_name" name="first_name" class="input-xlarge focused" required>
            </div>
            <div class="control-group" ng-class="{error: hasError(form.last_name)}">
              <label class="control-label">Last Name</label>
              <input type="text" ng-model="current_user.last_name" name="last_name" class="input-xlarge focused" required>
            </div>
            <div class="control-group" ng-class="{error: hasError(form.email)}">
              <label class="control-label">Email</label>
              <input type="email" ng-model="current_user.email" name="email" class="input-xlarge focused" required>
            </div>
            <div class="control-group" ng-class="{error: hasError(form.location)}">
              <label class="control-label">Location</label>
              <input type="text" ng-model="current_user.location" name="location" class="input-xlarge focused" required>
            </div>
            <div class="control-group">
              <label class="control-label"></label>
            <span class="btn btn-small btn-info fileupload-wrapper">
                <i class="fui-plus"></i>
                <span>&nbsp;Upload Profile Picture</span>
                <input type="file" fileupload name="picture"
                       uploader-id="avatar-uploader"
                       server-domain="http://sgattractions.com:3003"
                       service-path="pictures" />
            </span>
              <span class="label label-primary">{{avatar_upload_state}}</span>
            </div>
            <div class="control-group">
              <label class="control-label"></label>
              <img ng-show="current_user.photo_url != '' && current_user.photo_url != null "
                   nailthumb height="180" width="180" method="resize"
                   ng-src="{{current_user.photo_url}}">
            </div>

            <div class="settings_divider"></div>

            <div class="box_main_title">
              Tell us about your talent and work history
            </div>

            <div class="settings_divider"></div>

            <div class="control-group" ng-class="{error: current_user.job_category_id == null && submitted }">
              <label class="control-label">Your Talent</label>
              <select ui-select2="select2Options" ng-model="current_user.job_title" name="job_category_id" data-placeholder="What is your job title?" required>
                  <optgroup label="{{ cat.name }}" ng-repeat="cat in job_categories">
                      <option value="{{ title }}" ng-repeat="title in jobTitles[cat.name]">{{ title }}</option>
                  </optgroup>
              </select>
            </div>
            <div class="control-group" ng-class="{error: hasError(form.years_of_experience)}">
              <label class="control-label">Years of Experience</label>
              <input type="number" step="0.01" ng-model="current_user.years_of_experience" name="years_of_experience" class="input-xlarge focused" required>
            </div>
            <div class="control-group" ng-class="{error: hasError(form.professional_history)}">
              <label class="control-label">Professional History</label>
              <textarea rows="5" ng-model="current_user.professional_history" name="professional_history" class="input-xlarge focused"></textarea>
            </div>

            <div class="settings_divider"></div>

            <div class="box_main_title">
              Tell us about your skills and qualifications
            </div>

            <div class="settings_divider"></div>

            <div class="control-group" ng-class="{error: hasError(form.skills)}">
              <label class="control-label">Skills</label>
              <input tagsinput ng-list ng-model="current_user.skills" name="skills" class="input-xlarge focused">
            </div>
            <div class="control-group" ng-class="{error: hasError(form.education_and_certificates)}">
              <label class="control-label">Your Education / Certifications</label>
              <textarea rows="5" ng-model="current_user.education_and_certificates" name="education_and_certificates" class="input-xlarge focused"></textarea>
            </div>

            <div class="settings_divider"></div>

            <div class="box_main_title">
              Let us know if you have other information you would like to tell about yourself
            </div>

            <div class="settings_divider"></div>

            <div class="control-group">
              <label class="control-label" ng-class="{error: hasError(form.other_information)}">Extra Information</label>
              <textarea rows="5" ng-model="current_user.other_information" name="other_information" class="input-xlarge focused"></textarea>
            </div>
            <div class="control-group">
              <label class="control-label">Your Accolades/Awards</label>
              <textarea rows="5" ng-model="current_user.accolades_and_awards" class="input-xlarge focused"></textarea>
            </div>

            <div class="control-group"
                 ng-form="subForm"
                 ng-class="{error: hasError(subForm.portfolio)}"
                 ng-repeat="portfolio in current_user.portfolios">
                <label class="control-label" ng-show="$index == 0">Your Portfolio URL</label>
                <label class="control-label" ng-hide="$index == 0"></label>
                <input type="url" ng-model="portfolio.url" name="portfolio" placeholder="http://www.my-portfolio.me" class="input-xlarge focused" required>
                <a class="btn btn-danger" ng-click="removePortfolio($index)">remove</a>
            </div>
            <div class="control-group" ng-show="current_user.portfolios.length < 5">
              <label class="control-label"></label>
              <a class="btn btn-info" ng-click="addPortfolio()">Add Portfolios</a>
            </div>
            <div class="settings_divider"></div>

            <div class="box_main_title">
              How would you like to remunerated? Rate per day(10 hours)
            </div>

            <div class="settings_divider"></div>

            <div class="control-group" ng-class="{error: hasError(form.day_rate)}">
              <label class="control-label">Rate(S$)</label>
              <input type="number" step="any" ng-model="current_user.day_rate" name="day_rate" class="input-xlarge focused" required>
            </div>

            <div class="settings_divider"></div>

            <div class="control-group">
              <label class="control-label" for="settings_save"></label>
              <div class="controls">
                <button class="btn btn-primary" id="settings_save" name="submit" type="submit">
                  Save
                  changes
                </button>
              </div>
            </div>

          </form>
        </div>

      </div>
      <!-- end of span9 -->
    </div>
  </div>

</div>