<div class="body_container">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="box_main sidenav" ng-hide="current_user.profile_incomplete">
          <div ng-include src="'partials/dashboard/employer.side_menu.html'">
          </div>
        </div>
      </div>
      <!-- end of span3 -->

      <div class="span9">
        <h3 class="title-listing-1 margin-bottom-10" ng-show="current_user.profile_incomplete">
          Complete Registration
        </h3>
        <h3 class="title-listing-1 margin-bottom-10" ng-hide="current_user.profile_incomplete">
          Your Company Profile
        </h3>


        <div class="featured_box box_main" id="settings_con">
          <div class="box_main_title">
            Please provide your information below
          </div>

          <form novalidate ng-submit="submitForm()" name="form">

            <div class="settings_divider">
            </div>
            <div class="control-group" ng-class="{error: hasError(form.first_name)}">
              <label class="control-label">First Name</label>
              <input type="text" ng-model="current_user.first_name" name="first_name" class="input-xlarge focused" required>
            </div>
            <div class="control-group" ng-class="{error: hasError(form.last_name)}">
              <label class="control-label">Last Name</label>
              <input type="text" ng-model="current_user.last_name" name="last_name" class="input-xlarge focused" required>
            </div>
            <div class="control-group" ng-class="{error: hasError(form.email)}">
              <label class="control-label">Email</label>
              <input type="email" ng-model="current_user.email" name="email" class="input-xlarge focused" required>
            </div>
            <div class="settings_divider"></div>

            <div class="control-group">
              <div class="control-group" ng-class="{error: hasError(form.company_name)}">
                <label class="control-label">Company Name</label>
                <input type="text" ng-model="current_user.company_name" name="company_name" class="input-xlarge focused">
                <small>(If Any)</small>
              </div>
              <div class="control-group">
                <label class="control-label">Company URL</label>
                <input type="text" ng-model="current_user.company_url" class="input-xlarge focused">
              </div>
              <div class="control-group">
                <label class="control-label">Telephone</label>
                <input type="text" ng-model="current_user.phone" class="input-xlarge focused">
              </div>
              <div class="control-group" ng-class="{error: hasError(form.company_description)}">
                <label class="control-label">Company Description</label>
                <textarea rows="5" ng-model="current_user.company_description" name="company_description" class="input-xlarge focused"></textarea>
              </div>
              <div class="control-group"  ng-class="{error: hasError(form.company_location)}">
                <label class="control-label">Location</label>
                <input type="text" ng-model="current_user.company_location" name="company_location" class="input-xlarge focused" required>
              </div>
            </div>

            <div class="settings_divider"></div>

            <div class="control-group">
              <label class="control-label" for="settings_save"></label>
              <div class="controls">
                <button class="btn btn-primary" id="settings_save" name="submit" type="submit">
                  Save
                  changes
                </button>
              </div>
            </div>

          </form>
        </div>

      </div>
      <!-- end of span9 -->
    </div>
  </div>

</div>
